<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head> <!-- PS.: la vista è stata curata solo per la visualizzazione in versione mobile-->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" href="img/favicon.png" />
    <title>Lista Spesa</title>
    <link rel="stylesheet" href="style.css">
    <!-- <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script> <!-- jquery -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous"> <!-- bootstrap -->
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.5.0/css/all.css"> <!-- fontawesome -->
    <link rel="stylesheet" href="style.css"> <!-- css -->
    <link href="https://fonts.googleapis.com/css2?family=Permanent+Marker&display=swap" rel="stylesheet"> <!-- google body font -->
    <link href="https://fonts.googleapis.com/css2?family=Oleo+Script:wght@700&display=swap" rel="stylesheet"> <!-- google other font -->
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script> <!-- vue -->
    <!-- <script src="https://cdn.jsdelivr.net/npm/vue@2.6.11"></script> -->
  </head>
  <body>
    <div class="container">
      <div id="app">
        <div class="row">
          <div class="mt-3 mx-auto">
            <div class="header-container">
            <h2 class="title text-center">Lista Spesa</h2>
            <input class="inputText mb-2 border border-primary rounded" v-model="newTodo" @keypress.13='addTodo' placeholder="Scrivi cosa comprare"> <!-- all'invio inserisce gli element(li) dentro la lista(ul) -->
            <button class="btn btn-info" @click="addTodo"><i class="far fa-paper-plane"></i></button> <!-- al click inserisce gli elementi(li) dentro la lista(ul) -->
            </div>
            <ul class="col-12">
              <div v-for="(todo, n) in todos"> <!-- ciclo l'array di oggetti(todos) prendendo il singolo oggetto(todo) con il rispettivo indice(n)-->
                <!-- <i class="fas fa-minus ml-2"></i> --><i class="fas fa-cart-arrow-down mr-1 ml-3"></i>
                <li class="mt-2 todo">
                  {{ todo.name }} <!-- prendo il nome del singolo elemento(todo)-->
                </li>
                <li class="button-container"> 
                  <button class="ml-1 btn btn-primary rounded-circle btn-sm" v-if="todo.isHidden == true" @click="removeTodo(n)"><i
                      class="fas fa-trash-alt"></i></button> <!--pulsante di eliminazione: al click elimina il singolo todo -->
                  <button class="ml-1 btn btn-primary rounded-circle btn-sm" @click="toggleHidden(n)" v-if="todo.isHidden == true"><i
                      class="fas fa-pencil-alt"></i></button> <!-- pulsante di modifica: al click fa apparire l'input di modifica, il pulsante di salvataggio modifiche, e nasconde se stesso più il pulsante di eliminazione-->
                  <i class="fas fa-shopping-cart ml-2 text-info" v-if="todo.isHidden == false"></i>
                  <input class="modify-input ml-2 border border-primary rounded" v-if="todo.isHidden == false" v-model="todo.name"> <!-- input di modifica: prende e mostra il testo dell'elemento da modificare -->
                  <button class="ml-1 btn btn-success rounded-circle btn-sm" @click="toggleHidden(n)" v-if="todo.isHidden ==false" 
                    @click="modifyTodo(n, todo)"><i class="far fa-save"></i></button> <!-- pulsante di salvataggio modifiche: al click salva le modifiche e nasconde l'input di modifica, mostrando poi i pulsanti di eliminazione e modifica -->
                </li>
              </div>
            </ul>
            <div class="confirm col-9 mx-auto border border-primary rounded bg-white text-center mb-3" v-if="!visible"> <!--contenitore dell'alert di conferma eliminazione non visibile -->   
              <p><i class="fas fa-shopping-cart text-danger"></i> Sei sicuro di voler eliminare tutta la lista? </p> 
              <button class="btn btn-primary" v-on:click="visible = true" @click="removeAllTodo()">SI</button> <!--al click nasconde il contenitore dell'alert ed elimina tutti i todo-->
              <button class="btn btn-secondary" v-on:click="visible = true">NO</button> <!--al click nasconde il contenitore dell'alert e non elimina niente-->
            </div>
            <button class="delete-all btn btn-dark" v-on:click="visible = false">Cancella tutto <i class="fas fa-skull-crossbones"></i></button> <!--al click mostra il contenitore dell'alert di conferma eliminazione -->
          </div>
        </div>
      </div>
    </div>
    <script src="main.js" charset="utf-8"></script>
  </body>
</html>
