<!DOCTYPE html>
<html lang="en" dir="ltr">

<head>
  <!-- NON PRENDETE ESEMPIO DA TUTTA QUESTA MERDA! IL CODICE È TOTALMENTE DA RIFARE, INIZIALMENTE ERA SOLO UN ESERCIZIO MA APPENA HO UN PÒ DI TEMPO FACCIO UN BEL REFACTORING COME SI DEVE, PER IL MOMENTO GODETEVI QUESTO SCHIFO.-->
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <link rel="shortcut icon" href="img/favicon.png" />
  <title>Lista Spesa</title>
  <!-- preload immagini -->
  <link rel="preload" as="image" href="img/foglio.webp" />
  <link rel="preload" as="image" href="img/foglio_righe.webp" />
  <link rel="preload" as="image" href="img/inverno.webp" />
  <link rel="preload" as="image" href="img/mare.webp" />
  <link rel="preload" as="image" href="img/montagne.webp" />
  <link rel="preload" as="image" href="img/paper-helper.webp" />
  <link rel="preload" as="image" href="img/onda.webp" />
  <link rel="preload" as="image" href="img/cincia.webp" />
  <!-- bootstrap -->
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
    integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous" />
  <!-- fontawesome -->
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.5.0/css/all.css" />
  <!-- style -->
  <link rel="stylesheet" href="style.css" />
  <!-- google body font -->
  <link rel='preconnect' href='https://fonts.gstatic.com' crossorigin>
  <link rel="preload" href="https://fonts.googleapis.com/css2?family=Permanent+Marker&display=swap" as="style" />
  <link href="https://fonts.googleapis.com/css2?family=Permanent+Marker&display=swap" rel="stylesheet" />
  <!--google font retro-->
  <link href="https://fonts.googleapis.com/css2?family=DotGothic16&display=swap" rel="stylesheet" />
  <!--google font minimal-->
  <link href="https://fonts.googleapis.com/css2?family=Cabin:wght@500&display=swap" rel="stylesheet" />
  <!-- vue -->
  <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
  <!-- https://github.com/SortableJS/Vue.Draggable -->
  <script src="https://cdnjs.cloudflare.com/ajax/libs/vue/2.5.2/vue.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/sortablejs@1.8.4/Sortable.min.js" async></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/Vue.Draggable/2.20.0/vuedraggable.umd.min.js" async></script>
</head>

<body>
  <!-- PS.: la vista è stata curata solo per la visualizzazione in versione mobile.-->
  <div class="container">
    <div id="app">
      <div id="container-list" class="row">
        <div class="mt-3 mx-auto padding-bottom-custom">
          <img v-if="christmasTheme" class="christmas-theme" src="./img/ghirlanda.webp" alt="merry-christmas" />

          <!--TITOLO-->
          <div class="header-container" :class="{'christmas': christmasTheme}">
            <h2 v-if="langIta" class="title text-center" :class="{
                  'dark-theme-title': darkTheme, 
                  'minimal-theme-title': minimalTheme, 
                  'retro-theme-title': retroTheme}">
              Lista Spesa
            </h2>
            <h2 v-else class="title text-center" :class="{
                  'dark-theme-title': darkTheme, 
                  'minimal-theme-title': minimalTheme,
                  'retro-theme-title': retroTheme}">
              Shopping List
            </h2>

            <!--TITOLO2 DI SFONDO-->
            <h2 v-if="langIta" class="title2 text-center"
              :class="{'minimal-theme-title2': minimalTheme, 'retro-theme-title2': retroTheme}">
              Lista Spesa
            </h2>
            <h2 v-else class="title2 title2-eng text-center"
              :class="{'minimal-theme-title2': minimalTheme, 'retro-theme-title2': retroTheme}">
              Shopping List
            </h2>

            <!--PULSANTE HELPER-->
            <span class="helper" :class="{
                  'helper-selected': this.helper,
                  'helper-deselected': !this.helper,
                  'helper-btn-dark': this.darkTheme
                }" @click="showHelper()">
              <span class="settings">&#x2699;</span>
            </span>
            <div class="input-btns-container">
              <!--INPUT AGGIUNGI-->
              <input class="inputText mb-2 border border-primary rounded"
                :class="{'placeholder-selected': this.placeholder != defaultPlaceholderText}" ref="myInput"
                v-model="newTodo" @keypress.13="addTodo" :placeholder="this.placeholder" />
              <!--PULSANTE AGGIUNGI-->
              <button class="btn btn-info" @click="addTodo">
                <i class="far fa-paper-plane"></i>
              </button>
            </div>
            <!-- -----------------------------------PULSANTIERA------------------------------------ -->
            <div class="pushbutton-container">
              <!-- DRAG N DROP -->
              <button class="btn custom-show-listbtn" :class="{
                'btn-selected': isDraggable, 
                'minimal-btn': minimalTheme, 
                'minimal-selected-btn': minimalTheme && isDraggable,
                'retro-teme-btns': retroTheme,
              }" @click="toggleDragDrop()">
                <img src="./img/drag-and-drop.webp" alt="move" />
              </button>
              <!--PULSANTE COPIA LISTA-->
              <button class="btn btn-outline-success"
                :class="{'minimal-btn': minimalTheme, 'retro-teme-btns': retroTheme,}" @click="copy()"><i
                  class="far fa-copy"></i><br /></button>
              <!--PULSANTE MOSTRA CATEGORIE -->
              <button class="btn custom-show-listbtn" :class="{
                'btn-selected': categoryList, 
                'minimal-btn': minimalTheme, 
                'minimal-selected-btn': minimalTheme && categoryList,
                'retro-teme-btns': retroTheme,
              }" @click="showCategoryList()">
                <span v-if="!categoryList">+</span>
                <span v-else>-</span>
              </button>
            </div>
            <div class="drag-n-drop-text">
              <small v-if="langIta && isDraggable">
                Trascina gli elementi della lista dove vuoi
              </small>
              <small v-if="!langIta && isDraggable">
                Drag the elements of the list where you want
              </small>
            </div>

          </div>
          <div id="loading-themes-container">
            <img src="./img/Loading.webp" alt="loading">
            <img src="./img/favicon.png" alt="loading">
          </div>

          <!-- ----------HELPER CONTAINER (Questa parte fa più schifo delle altre, e non so perchè l'ho fatta così di merda, ignorala!!!)---->
          <div id="helper-description-container" class="helper-description" :class="{
                'slideUp' : helper === true, 
                'slideDown': helper === false,
                'dark-theme-helper': darkTheme === true,
                'minimal-theme-helper': minimalTheme === true,
                'retro-theme-helper': retroTheme === true,
                'helper-light': lightTheme === true,
              }">
            <div class="close-helper-container" @click="showHelper()">
              <p class="close-helper" :class="{'close-retro-theme-helper': retroTheme === true}">X</p>
            </div>
            <img v-if="christmasTheme" class="left-christmas-info" src="./img/Gingerman-icon.webp" alt="Buon Natale!" />
            <p class="helper-settings-title" :class="{
                  'christmas-red': christmasTheme,
                  'retro-helper-settings-title': retroTheme === true,
                }">
              {{settingsTextTitle}}:
            </p>
            <img v-if="christmasTheme" class="right-christmas-info" src="./img/Decorations-icon.webp"
              alt="E felice anno nuovo!" />

            <div id="helper-description">
              &#x2699; {{safeModeText.title}} <br />
              <li class="ml-4">({{safeModeText.description}}):</li><br />
              <li class="toggle-delete-confirm-container ml-4" @click="toggleDeleteConfirm()">
                <u>{{safeModeText.function}}</u>
                <div class="toggle-delete-confirm">&#x1F449;</div>
                <span class="text-primary">{{canDeleteText}}</span>
              </li>
              <br /><br />
              &#x2699; {{chosenThemeText}}:
              <span class="text-primary">{{themeName}}</span><br />
              <li class="ml-4">{{changeThemeText}}:</li><br />
              <div class="btn-group ml-4" role="group" aria-label="Basic mixed styles example">
                <button type="button" class="btn btn-light p-1 border border-dark"
                  @click="changeTheme('light')">Light</button>
                <button type="button" class="btn btn-dark p-1" @click="changeTheme('dark')">Dark</button>
                <button type="button" class="btn minimal-theme p-0" @click="changeTheme('minimal')">Minimal</button>
                <button type="button" class="btn retro-theme p-1" @click="changeTheme('retro')">Dos</button>
                <button type="button" class="btn summer-theme p-1" @click="changeTheme('summer')">Summer</button>
                <button type="button" class="btn winter-theme p-0" @click="changeTheme('winter')">Winter</button>
              </div>
              <br />
              <div class="share">
                &#x2699; {{shareText}}:
                <button class="btn btn-light border-dark share-btn" @click="shareLink()">
                  <img src="img/share.webp" alt="share" />
                </button>
                <p class="link-copied" v-if="share.visible === true">{{share.text}}</p>
              </div>
              <div id="helper-istructions">
                <!-- QUI C'È TUTTA LA DESCRIZIONE IN BASE ALLA LINGUA. È NEL FILE "helper-istructions.js" -->
              </div>
              <ul class="helper-list" v-if="langIta">
                <li v-if="!openVideoTutorial">
                  Se non hai capito un &#x1f51e;&#x1f51e;&#x1f51e;&#x1f51e;&#x1f51e; di tutto ciò, non preoccuparti,
                  c'è un video tutorial
                  <span class="show-video" @click="openVideoTutorial = true">cliccando qui.</span>
                </li>
                <li class="hide-video" v-if="openVideoTutorial" @click="openVideoTutorial = false">
                  Nascondi video.
                </li>
                <video v-if="openVideoTutorial" :class="{'video': !retroTheme}" width="98%" height="500"
                  poster="./img/favicon.png" controls>
                  <source src="./video/tutorial-ITA.mp4" type="video/mp4" />
                  Il tuo device non supporta i video tag. Guardalo su youtube
                  <a href="https://www.youtube.com/watch?v=VSO1k1CUrBY" target="_blank">cliccando qui</a>
                </video>
                <li v-if="!openNewFeaturesVideo">
                  Qui c'è un altro video tutorial per le nuove funzionalità =>
                  <span class="show-video" @click="openNewFeaturesVideo = true">clicca qui per vederle.</span>
                </li>
                <li class="hide-video" v-if="openNewFeaturesVideo" @click="openNewFeaturesVideo = false">
                  Nascondi video.
                </li>
                <video v-if="openNewFeaturesVideo" :class="{'video': !retroTheme}" width="98%" height="500"
                  poster="./img/favicon.png" controls>
                  <source src="./video/new-features.mp4" type="video/mp4" />
                  Il tuo device non supporta i video tag. Guardalo su youtube
                  <a href="https://www.youtube.com/watch?v=sv-cseryIMk" target="_blank">cliccando qui</a>
                </video>
              </ul>
              <ul class="helper-list" v-else>
                <li v-if="!openVideoTutorial">
                  If you don't understand a &#x1f51e;&#x1f51e;&#x1f51e;&#x1f51e;&#x1f51e; of all this, don't worry,
                  there is a video tutorial
                  <span class="show-video" @click="openVideoTutorial = true">by clicking here.</span>
                </li>
                <li class="hide-video" v-if="openVideoTutorial" @click="openVideoTutorial = false">
                  Hide video.
                </li>
                <video v-if="openVideoTutorial" :class="{'video': !retroTheme}" width="98%" height="500"
                  poster="./img/favicon.png" controls>
                  <source src="./video/tutorial-ENG.mp4" type="video/mp4" />
                  Your device does not support the video tag. Watch on youtube
                  <a href="https://www.youtube.com/watch?v=H1E9ynY9f9w" target="_blank">by clicking
                    here</a>
                </video>
                <li v-if="!openNewFeaturesVideo">
                  Here is another video tutorial for the new features =>
                  <span class="show-video" @click="openNewFeaturesVideo = true">click here to see it.</span>
                </li>
                <li class="hide-video" v-if="openNewFeaturesVideo" @click="openNewFeaturesVideo = false">
                  Hide video.
                </li>
                <video v-if="openNewFeaturesVideo" :class="{'video': !retroTheme}" width="98%" height="500"
                  poster="./img/favicon.png" controls>
                  <source src="./video/new-features.mp4" type="video/mp4" />
                  Your device does not support the video tag. Watch on youtube
                  <a href="https://www.youtube.com/watch?v=sv-cseryIMk" target="_blank">by clicking here</a>
                </video>
              </ul>
              <br />
              <span>{{emailReportText}}: <a href="mailto:lucarhcp88@hotmail.it">lucarhcp88@hotmail.it</a></span>
              <br>
              <button id="privacy-policy-btn" class="privacy-policy-btn" @click="togglePrivacyPolicy()">
                <small>Privacy policy</small>
              </button>
            </div>
            <!-- ------------------------------------------PRIVACY POLICY MODAL------------------------------------ -->
            <div v-if="privacyPolicy" id="privacy-policy-modal" class="modal">
              <div class="privacy-modal-content">
                <span class="close" @click="togglePrivacyPolicy()">&times;</span>
                <div class="privacy-modal-header">
                  <h2 class="text-center">Privacy Policy of Shopping List</h2>
                  <small>Application collects some Personal Data from its
                    Users.</small>
                </div>
                <div class="privacy-modal-main">
                  <strong>
                    Personal Data processed for the following purposes and using
                    the following services:
                  </strong>
                  <hr>
                  <p class="text-center">
                    <strong>Displaying content from external platforms</strong>
                  </p>
                  <strong>Font Awesome and Google Fonts</strong>
                  <p>Personal Data: Trackers; Usage Data</p>
                  <hr>
                  <p class="text-center">
                    <strong>Hosting and backend infrastructure</strong>
                  </p>
                  <strong>GitHub Pages</strong>
                  <p>
                    Personal Data: various types of Data as specified in the privacy policy of the
                    service
                  </p>
                  <hr>
                  <p class="text-center">
                    <strong>Contact information</strong>
                  </p>
                  <p>Owner: Luca Caputo</p>
                  <p>Contact email: lucarhcp88@hotmail.it</p>
                </div>
                <div class="privacy-modal-footer">
                  <p>Latest update: 23 January 2023</p>
                  <a href="https://www.privacypolicygenerator.info/live.php?token=XdQQ3qcxNezVaYoGNfhFaO3myEgLXuNt"
                    rel="noopener noreferrer">
                    Show the complete Privacy Policy
                  </a>
                </div>
              </div>
            </div>
          </div>

          <!-- CATEGORY -->
          <div v-if="categoryList" class="category-list-container" :class="{
            'retro-theme-confirm': retroTheme,
            'light-theme-confirm': lightTheme,
          }">
            <p v-if="langIta" class="category-list-description" :class="{
                  'blue-text': !retroTheme && !minimalTheme,
                  'retro-helper-settings-title': retroTheme
                }">
              Scegli una categoria tra queste:
            </p>
            <p v-if="!langIta" class="category-list-description" :class="{
                  'blue-text': !retroTheme && !minimalTheme,
                  'retro-helper-settings-title': retroTheme
                }">
              Choose a category among these:
            </p>
            <p class="category-list" :class="{'animation-no-retro': !retroTheme}" v-for="(category, i) in categories"
              :key="i">
              <span @click="selectCategoryName(category.name)">{{category.name}},&nbsp; </span>
            </p>
          </div>
          <p class="list-copied" v-if="copyList.visible === true">{{copyList.text}}</p>

          <!-- TODO LIST DRAGGABILE-->
          <ul id="todo-list" class="col-12" :class="{'christmas': christmasTheme, 'winter-shadow': winterTheme}">
            <draggable v-if="isDraggable" class="drag-n-drop" id="draggable" v-model="todos"
              @start="drag=true; removeSelectedCategoryToAddItem()" @end="drag=false; saveTodos()">
              <div v-for="(todo, n) in todos" id="draggable-children" class="todo-n" :class="{
                    'category': todo.class, 
                    'category-retro': todo.class && retroTheme,
                    'category-minimal': todo.class && minimalTheme,
                    'draggable-children': isDraggable,
                    'draggable-children-category': isDraggable && todo.class,
                    'todo-added': todo.todoAdded,
                  }">
                <div v-if="todo.class && minimalTheme" class="category-emoji-minimal">&#x2022;</div>
                <div v-if="todo.class && !minimalTheme" class="category-emoji"
                  :class="{'category-emoji-selected': todo.isSelected}">
                  {{todo.emojy}}
                </div>
                <i v-else class="fas fa-cart-arrow-down mr-3 ml-1" :class="{
                      'hide-minimal-icon': minimalTheme,
                      'selected-for-delete': todo.multipleDelete
                    }" @click="selectTodoForDelete(n)"></i>
                <span v-if="minimalTheme && !todo.class" class="mr-4 ml-1" @click="selectTodoForDelete(n)"> - </span>
                <li class="todo" id="todo" @click="myFilter(n); 
                      selectCategoryToAddItem(n, todo)" :class="{
                      'active': todo.isActive, 
                      'selected': todo.isSelected,
                      'line-through': todo.multipleDelete && !retroTheme
                    }">
                  {{ todo.name }}
                </li>
                <!--CONTENITORE PULSANTI (edit, delete, modify)-->
                <li class="button-container bg-light" :class="{
                      'minimal-btn': minimalTheme,
                      'retro-btn': retroTheme, 
                      'categoryActive' : todo.class
                    }">
                  <!-- MODIFICA-->
                  <button class="ml-1 btn btn-primary rounded-circle btn-sm" @click="toggleHidden(n)"
                    v-if="todo.isHidden == true && !todo.class" :class="todo.isDisabled ? 'disabled' : '' "
                    :disabled="!!todo.isDisabled">
                    <i class="fas fa-pencil-alt"></i>
                  </button>
                  <!--ELIMINA -->
                  <button class="ml-1 btn btn-primary rounded-circle btn-sm" v-if="todo.isHidden == true"
                    @click="removeTodo(n, todo)" :class="todo.isDisabled ? 'disabled' : '' "
                    :disabled="!!todo.isDisabled">
                    <i class="fas fa-trash-alt"></i>
                  </button>
                  <!-- INPUT MODIFICA -->
                  <i class="fas fa-shopping-cart ml-2 text-info" v-if="todo.isHidden == false"></i>
                  <input class="modify-input ml-2 border border-primary rounded" v-if="todo.isHidden == false"
                    v-model.trim="todo.name" />
                  <!-- SALVA MODIFICHE -->
                  <button class="ml-1 btn btn-success rounded-circle btn-sm" :disabled="todo.name.length === 0"
                    @click="toggleHidden(n)" v-if="todo.isHidden ==false" v-on:click="modifyTodo(n, todo, todo.name)">
                    <i class="far fa-save"></i>
                  </button>
                </li>
              </div>
            </draggable>

            <!-- TODO LIST NON DRAGGABILE-->
            <div v-if="!isDraggable" v-for="(todo, n) in todos" id="draggable-children" class="todo-n" :class="{
                  'category': todo.class, 
                  'category-retro': todo.class && retroTheme,
                  'category-minimal': todo.class && minimalTheme,
                  'todo-added': todo.todoAdded,
                }">
              <div v-if="todo.class && minimalTheme" class="category-emoji-minimal">&#x2022;</div>
              <div v-if="todo.class && !minimalTheme" class="category-emoji"
                :class="{'category-emoji-selected': todo.isSelected}">
                {{todo.emojy}}
              </div>
              <i v-else class="fas fa-cart-arrow-down mr-3 ml-1" :class="{
                    'hide-minimal-icon': minimalTheme,
                    'selected-for-delete': todo.multipleDelete
                  }" @click="selectTodoForDelete(n)"></i>
              <span v-if="minimalTheme && !todo.class" class="mr-4 ml-1" @click="selectTodoForDelete(n)"> - </span>
              <li class="todo" id="todo" @click="myFilter(n); 
                    selectCategoryToAddItem(n, todo)" :class="{
                    'active': todo.isActive, 
                    'selected': todo.isSelected,
                    'line-through': todo.multipleDelete && !retroTheme
                  }">
                {{ todo.name }}
              </li>
              <!--CONTENITORE PULSANTI (edit, delete, modify)-->
              <li class="button-container bg-light" :class="{
                    'minimal-btn': minimalTheme,
                    'retro-btn': retroTheme, 
                    'categoryActive' : todo.class
                  }">
                <!-- MODIFICA-->
                <button class="ml-1 btn btn-primary rounded-circle btn-sm" @click="toggleHidden(n)"
                  v-if="todo.isHidden == true && !todo.class" :class="todo.isDisabled ? 'disabled' : '' "
                  :disabled="!!todo.isDisabled">
                  <i class="fas fa-pencil-alt"></i>
                </button>
                <!--ELIMINA -->
                <button class="ml-1 btn btn-primary rounded-circle btn-sm" v-if="todo.isHidden == true"
                  @click="removeTodo(n, todo)" :class="todo.isDisabled ? 'disabled' : '' "
                  :disabled="!!todo.isDisabled">
                  <i class="fas fa-trash-alt"></i>
                </button>
                <!-- INPUT MODIFICA -->
                <i class="fas fa-shopping-cart ml-2 text-info" v-if="todo.isHidden == false"></i>
                <input class="modify-input ml-2 border border-primary rounded" v-if="todo.isHidden == false"
                  v-model.trim="todo.name" />
                <!-- SALVA MODIFICHE -->
                <button class="ml-1 btn btn-success rounded-circle btn-sm" :disabled="todo.name.length === 0"
                  @click="toggleHidden(n)" v-if="todo.isHidden ==false" v-on:click="modifyTodo(n, todo, todo.name)">
                  <i class="far fa-save"></i>
                </button>
              </li>
            </div>
          </ul>

          <!-- RIQUADRO ELIMINA TUTTO -->
          <div class="confirm col-10 mx-auto rounded text-center mb-3" :class="{
                'christmas': christmasTheme,
                'dark-theme-confirm': darkTheme,
                'minimal-theme-confirm': minimalTheme,
                'retro-theme-confirm-delete': retroTheme,
                'summer-confirm': summerTheme,
                'winter-confirm': winterTheme,
              }" v-if="!visible">
            <p v-if="langIta">
              <i class="fas fa-trash-alt" :class="{'text-danger': !retroTheme, 'text-warning': retroTheme}"></i>
              Sei sicuro di voler eliminare <br> tutta la lista?
            </p>
            <p v-else>
              <i class="fas fa-trash-alt text-danger"></i>
              Are you sure you want <br> delete the whole list?
            </p>
            <button class="btn btn-primary" v-on:click="visible = true" @click="removeAllTodo()">
              <span v-if="langIta">SI</span>
              <span v-else>YES</span>
            </button>
            <button class="btn btn-secondary" v-on:click="visible = true">NO</button>
          </div>

          <!-- FOOTER -->
          <div class="footer-btns-container pb-3">
            <!-- PULSANTE ELIMINA SOLO I SELEZIONATI -->
            <button v-if="canDeleteMultipleTodo" class="text-danger border-danger rounded"
              :class="{'christmas': christmasTheme}" @click="deleteSelectedTodos()">
              <i class="fas fa-trash-alt"> </i>
            </button>
            <!-- PULSANTE ELIMINA TUTTO-->
            <button class="delete-all btn btn-dark" :class="{'christmas': christmasTheme}"
              v-on:click="visible = !visible">
              <span v-if="langIta">Cancella tutto </span>
              <span v-else>Delete ALL </span>
              <i class="fas fa-skull-crossbones"></i>
            </button>
            <!-- PULSANTE TORNA IN CIMA -->
            <button v-if="buttonBackToTop" class="btn btn-outline-info p-1" :class="{
                  'christmas': christmasTheme,
                  'dark-theme-back-top': darkTheme,
                  'retro-theme-back-top': retroTheme,
                  'winter-theme-back-top': winterTheme,
                }" @click="scrollTop()">
              <img class="back-up" src="./img/chevron-up.webp" alt="up" />
            </button>

            <!-- CAMBIO LINGUA -->
            <div class="btns-language-container" :class="{
                'christmas': christmasTheme, 
                'minimal-btn': minimalTheme, 
                'retro-btn': retroTheme
              }">
              <button class="btn-lang-left" :class="{'language-selected': !langIta}" @click="setEnglish()">Eng</button>
              <button class="btn-lang-right" :class="{'language-selected': langIta}" @click="setItaliano()">Ita</button>
            </div>
          </div>
          <img v-if="christmasTheme" class="christas-footer" src="./img/christmas.webp" alt="" />
          <!-- <small v-if="!christmasTheme" class="created-by-luca-caputo">By Luca Caputo</small> -->
          <small v-if="christmasTheme" class="created-by-luca-caputo">By Luca Caputo</small>
        </div>
      </div>
    </div>
  </div>
  <script src="helper-istructions.js" charset="utf-8"></script>
  <script src="main.js" charset="utf-8"></script>
</body>

</html>