body {
  background-image: url('img/foglio_righe.webp');
  font-family: 'Permanent Marker', cursive;
}
@media screen and (min-width: 500px) {
  body {
    background-image: url('img/foglio.webp');
    background-repeat: no-repeat;
    background-size: cover;
  }
}

.row {
  height: 97vh;
  overflow: auto;
}

.padding-bottom-custom {
  padding-bottom: 10%;
}

/* HEADER */
.christmas-theme {
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  z-index: -3;
}
.christas-footer {
  width: 300px;
  display: table;
  margin: 0 auto;
}
.christmas {
  margin-top: 30px;
}
.christmas-red {
  color: red;
}
.header-container {
  width: 365px;
  position: relative;
}
.title {
  background: -webkit-radial-gradient(circle, #ff0000 0%, #3d0000 80%);
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
  position: relative;
  left: -300px;
  -webkit-animation: slide 2s forwards;
  animation: slide 2s forwards;
  z-index: 1;
}
@-webkit-keyframes slide {
  100% {
    left: 0;
  }
}
@keyframes slide {
  100% {
    left: 0;
  }
}

.title2,
.title2-eng {
  background: -webkit-radial-gradient(circle, #333232 0%, #909090 95%);
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
  position: absolute;
  top: 0;
  right: 29%;
  animation-name: fadeOutOpacity;
  animation-iteration-count: 1;
  animation-delay: 2.5s;
  animation-timing-function: ease-out;
  animation-duration: 1.5s;
  animation-fill-mode: forwards;
}

.title2-eng {
  right: 23%;
}

@keyframes fadeOutOpacity {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

.input-btns-container {
  display: flex;
  align-items: baseline;
  /* gap: 10px; */
  justify-content: space-around;
}
.inputText {
  padding: 10px;
  max-width: 200px;
}
.btn-outline-success {
  padding: 10px;
  margin-left: 3%;
  background-color: white;
  border: 2px solid;
}
.btn-info {
  padding: 10px;
}

.list-copied {
  font-size: 13px;
  margin: 0 25%;
  color: #0169d9;
}

.placeholder-selected {
  background-color: #a6cef8;
}

.modify-input {
  min-width: 220px;
  max-width: 250px;
}

/* HELPER */
.helper {
  position: absolute;
  top: 0;
  right: 0;
  border-radius: 50%;
  padding: 0 5px;
  z-index: 5;
  margin-right: 2%;
}

.helper:hover {
  cursor: pointer;
}
.settings {
  font-size: 40px;
  line-height: 0.5;
}

.helper-list {
  padding-inline-start: 25px;
}
.helper-list > li {
  display: list-item;
}

.helper-selected {
  -webkit-animation: spin 2s linear;
  -moz-animation: spin 2s linear;
  animation: spin 2s linear;
}
@-moz-keyframes spin {
  100% {
    -moz-transform: rotate(360deg);
  }
}
@-webkit-keyframes spin {
  100% {
    -webkit-transform: rotate(360deg);
  }
}
@keyframes spin {
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}

.helper-deselected {
  -webkit-animation: reverseSpin 1.5s linear;
  -moz-animation: reverseSpin 1.5s linear;
  animation: reverseSpin 1.5s linear;
}
@-moz-keyframes reverseSpin {
  100% {
    -moz-transform: rotate(-360deg);
  }
}
@-webkit-keyframes reverseSpin {
  100% {
    -webkit-transform: rotate(-360deg);
  }
}
@keyframes reverseSpin {
  100% {
    -webkit-transform: rotate(-360deg);
    transform: rotate(-360deg);
  }
}

.helper-description {
  position: absolute;
  display: none;
  left: 0;
  top: -100%;
  width: 100%;
  height: 100%;
  padding: 10px;
  background-size: contain;
  z-index: 150;
  background-color: #ffffff;
}

.helper-light {
  background-image: repeating-linear-gradient(#ccc 0 1px, transparent 1px 100%),
    repeating-linear-gradient(90deg, #ccc 0 1px, transparent 1px 100%);
  background-size: 30px 30px;
}

.helper-description.slideUp {
  display: block;
  animation-name: slideUp;
  animation-duration: 1s;
  animation-fill-mode: forwards;
}
@keyframes slideUp {
  from {
    top: 200%;
  }
  to {
    top: 0;
  }
}
.helper-description.slideDown {
  display: block;
  animation-name: slideDown;
  animation-duration: 0.8s;
  animation-fill-mode: none;
}
@keyframes slideDown {
  from {
    top: 55px;
  }
  to {
    top: 200%;
  }
}
.helper-description.slideDown > div:not(:first-child) {
  display: none;
}

.helper-description > span {
  font-size: 12px;
}
.helper-description > div:not(:first-child) {
  width: 100%;
  height: 100%;
  overflow: auto;
  padding-bottom: 30%;
}
.helper-settings-title {
  margin-bottom: 15px;
  text-align: center;
}
.helper-title {
  margin-bottom: 0;
  text-align: center;
  margin-top: 20px;
  border-top: 1px solid;
}

.share {
  margin-top: 15px;
}
.share-btn {
  padding: 0 10px 3px;
}
.share-btn > img {
  width: 20px;
}
.link-copied {
  font-size: 13px;
  margin-left: 5px;
}
.close-helper-container {
  width: 65px;
  height: 60px;
  position: absolute;
  top: 0;
  right: 0;
  padding: 10px;
}
.close-helper {
  float: right;
  width: 25px;
  padding-left: 5px;
}
.close-helper:hover {
  cursor: pointer;
}
.helper-icon {
  width: 25px;
  height: 25px;
  padding: 3px;
  text-align: center;
  display: inline;
  margin-left: 0;
}

.show-video {
  font-weight: bold;
  color: #0169d9;
}
.hide-video {
  font-weight: bold;
  color: #d70a0a;
  margin-left: 30%;
}
.video {
  animation-name: fadeInOpacity;
  animation-iteration-count: 1;
  animation-timing-function: ease-in;
  animation-duration: 0.5s;
  z-index: 100;
  border-radius: 15px;
}
@keyframes fadeInOpacity {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.helper-footer {
  font-size: smaller;
}
.helper-footer-title {
  text-align: center;
  color: red;
  border-top: 1.5px solid black;
  margin-top: 15px;
  margin-bottom: 0;
}
.left-christmas-info {
  position: absolute;
  top: 5px;
  left: 5px;
  width: 50px;
}
.right-christmas-info {
  position: absolute;
  top: 5px;
  right: 10%;
  width: 50px;
}

.toggle-delete-confirm {
  display: inline-block;
  animation: zoominout 1.5s infinite;
}
@keyframes zoominout {
  0% {
    transform: scale(1, 1);
  }
  50% {
    transform: scale(1.3, 1.3);
  }
  100% {
    transform: scale(1, 1);
  }
}

.toggle-delete-confirm-container:hover {
  cursor: pointer;
}

/* CATEGORY */
.category-list-container {
  width: 365px;
  text-align: center;
  opacity: 1;
  animation-name: fadeInOpacityCategory;
  animation-iteration-count: 1;
  animation-timing-function: ease-in;
  animation-duration: 0.5s;
  z-index: 100;
}
@keyframes fadeInOpacityCategory {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
.category {
  background: rgba(192, 224, 133, 0.75);
  border-radius: 15px;
}
.category-emoji {
  font-size: 25px;
  display: inline-block;
}
.category-emoji-selected {
  animation: zoominoutsinglefeatured 1s infinite;
}
@keyframes zoominoutsinglefeatured {
  0% {
    transform: scale(1, 1);
  }
  50% {
    transform: scale(1.3, 1.3);
  }
  100% {
    transform: scale(1, 1);
  }
}
.category-list {
  display: inline-block;
  margin: 0;
  font-weight: bold;
  text-transform: capitalize;
}
.category-list:hover {
  cursor: pointer;
}
.category-list-description {
  font-size: small;
}
.selected {
  background-color: #0169d9;
  color: white;
  border-radius: 5px;
  padding-left: 3px;
  animation: underline 0.8s ease-out;
}
@keyframes underline {
  0% {
    width: 0;
  }
  100% {
    width: 200px;
  }
}

.categoryActive {
  padding-right: 26px !important;
  margin: 5px !important;
  background-color: transparent !important;
  border: none !important;
}
.categoryActive > button {
  margin-left: 100% !important;
}
.custom-show-listbtn {
  background-color: rgba(192, 224, 133, 0.883);
  border: 2px solid rgb(180, 230, 89);
  border-radius: 25%;
  padding: 0 5px;
}
.custom-show-listbtn > img {
  width: 20px;
}

/* TODO LIST */
.todo {
  text-transform: uppercase;
  font-size: 20px;
  width: 190px;
  line-height: 1;
  overflow-x: auto;
  overflow-y: hidden;
}
.todo:hover {
  cursor: pointer;
}
.fa-minus {
  padding: 10px;
}
.button-container {
  border: 2px solid rgb(0, 172, 252);
  border-radius: 5px;
  padding: 2px;
}

.selected-for-delete {
  color: #d70a0a;
}
.line-through {
  text-decoration: line-through 4px;
  color: #d70a0a;
}

.delete-all-description {
  background-color: black;
  color: white;
}
.confirm {
  padding: 10px 5px;
  background-image: url('img/carta-stropicciata.webp');
  background-size: contain;
  border: 2px solid rgb(0, 172, 252);
  opacity: 1;
  animation-name: fadeInOpacity;
  animation-iteration-count: 1;
  animation-timing-function: ease-in;
  animation-duration: 0.5s;
  z-index: 100;
}
@keyframes fadeInOpacity {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
.confirm > p {
  font-size: 18px;
  font-weight: bold;
}

.btns-language-container {
  display: flex;
}
.footer-btns-container {
  display: flex;
  justify-content: space-around;
}

.language-selected {
  background-color: rgb(0, 172, 252);
  color: rgb(255, 255, 255) !important;
}
.btn-lang-left {
  padding: 0px 5px;
  border-radius: 10px 0 0 10px;
  color: rgb(0, 172, 252);
  border-color: rgb(0, 172, 252);
}
.btn-lang-right {
  padding: 0px 5px;
  border-radius: 0 10px 10px 0;
  color: rgb(0, 172, 252);
  border-color: rgb(0, 172, 252);
}

.back-up {
  width: 20px;
}

/* VARIE */

li {
  display: inline-block;
}

.drag-n-drop-btn-container {
  display: flex;
  gap: 10px;
  height: 30px;
  align-items: center;
  margin-top: 10px;
  margin-left: 5%;
}

.fa-save,
.fa-shopping-cart,
.fa-cart-arrow-down {
  font-size: 20px;
}

.blue-text {
  color: #007bff;
}
.green-text {
  color: #35c50d;
}

.active {
  background: linear-gradient(
    90deg,
    rgba(91, 0, 0, 1) 0%,
    rgba(255, 0, 0, 1) 50%,
    rgba(91, 0, 0, 1) 100%
  );
  color: white;
  border-radius: 5px;
  padding-left: 5px;
}

.created-by-luca-caputo {
  display: flex;
  flex-direction: row-reverse;
  font-size: 7px;
}

.overflow-hide {
  overflow-y: hidden;
}

.privacy-policy > a.iubenda-embed {
  font-family: 'Permanent Marker', cursive !important;
  background-color: transparent !important;
  border: 1px solid transparent !important;
}

/* TEMI */
.dark-theme-title {
  background: -webkit-radial-gradient(circle, #ffffff 0%, #ffffff 95%);
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
}
.dark-theme-helper {
  background-image: none;
  background-color: #385336;
  border: 10px solid #d17e47;
  /* width: calc(100% - 10px); */
}
.helper-btn-dark {
  position: absolute;
  top: 0;
  right: 0;
  border-radius: 50%;
  padding: 0 5px;
  z-index: 5;
  margin-right: calc(2% + 10px);
}
.dark-theme-confirm {
  background-color: #333333;
  background-image: none;
  border: 10px solid #d17e47;
}
.dark-theme-back-top {
  background-color: #ffffff;
}

.minimal-theme-title {
  background: -webkit-radial-gradient(circle, #243a73 0%, #243a73 95%);
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
  font-family: 'Helvetica, sans-serif';
  font-weight: bold;
}
.minimal-theme-title2 {
  background: -webkit-radial-gradient(circle, #6493ae 0%, #7892a2 95%);
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
  font-family: 'Helvetica, sans-serif';
  font-weight: bold;
}
.minimal-theme {
  background-image: none;
  background-color: #a5becc;
  color: #7c3e66;
}
.minimal-theme-helper {
  background-image: none;
  background-color: #d3ebcd;
  color: #645767;
}
.minimal-theme-confirm {
  background-color: #243a73;
  background-image: none;
  color: #f2ebe9;
}
.minimal-btn {
  background-color: transparent !important;
  border-color: #7c3e66;
  color: #7c3e66;
}
.minimal-btn > button {
  background-color: #8aa5b4 !important;
  border-color: #7c3e66;
  color: #7c3e66;
}
.hide-minimal-icon {
  display: none;
}
.category-minimal {
  font-weight: bold;
  border: 1px solid #7c3e66;
  background-color: transparent;
}
.category-emoji-minimal {
  font-size: 30px;
  margin: 0 10px;
  display: inline-block;
  font-weight: bold;
}

.retro-theme-title {
  background: -webkit-radial-gradient(circle, #35c50d 0%, #35c50d 95%);
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
  font-family: 'DotGothic16', sans-serif;
  font-weight: bold;
}
.retro-theme-title2 {
  display: none;
}
.retro-theme {
  background-image: none;
  background-color: #000000;
  color: #35c50d;
  border: 1px solid #35c50d;
  min-width: 45px;
}
.retro-theme-helper {
  background-image: none;
  background-color: #c0c0c0;
  background-image: none;
  color: #000000;
  border: 3px #ffffff outset;
  border-radius: 0 !important;
}
.retro-helper-settings-title {
  color: #ffffff;
  background: linear-gradient(
    90deg,
    rgba(0, 2, 129, 1) 0%,
    rgba(15, 129, 206, 1) 90%
  );
  padding: 10px;
  font-weight: bold;
  margin-bottom: 5px;
}
.retro-theme-confirm {
  background-color: #c0c0c0;
  background-image: none;
  color: #000000;
  border: 3px #ffffff outset;
  border-radius: 0 !important;
}
.close-retro-theme-helper {
  background-color: #c0c0c0;
  background-image: none;
  color: #000000;
  border: 3px #ffffff outset;
  border-radius: 0 !important;
  margin: 5px 5px;
}
.retro-theme-confirm > button {
  background-color: #c0c0c0;
  background-image: none;
  color: #000000;
  border: 3px #ffffff outset;
  border-radius: 0 !important;
}
.retro-theme-back-top {
  background-color: #35c50d;
}
.retro-category {
  color: #ffffff;
}
.retro-btn {
  background-color: transparent !important;
  border-color: #35c50d;
  color: #35c50d;
}
.retro-btn > button {
  background-color: #000000 !important;
  border-color: #35c50d;
  border-radius: 0 !important;
  color: #35c50d;
}
.category-retro {
  background-color: #000000 !important;
  border: 1px solid #35c50d;
  border-radius: 0;
  color: #35c50d;
}

.summer-theme {
  background-color: #12a1df !important;
  color: #efcb8f;
}

.winter-theme {
  background-color: #d5effa !important;
  color: #6d3001;
}
.winter-theme-back-top {
  background-color: #ffffff;
}
