body {
  background-image: url('img/foglio_righe.jpg');
  font-family: 'Permanent Marker', cursive;
}

.header-container {
  width: 365px;
}

.title {
  color: red;
}

.title,
.inputText,
.modify-input {
  font-family: 'Oleo Script', cursive;
}

.inputText {
  padding: 10px;
  margin-left: 20%;
}

.btn-info {
  padding: 10px;
}

.todo {
  text-transform: uppercase;
  font-size: 20px;
  width: 200px;
  line-height: 1;
  overflow-x: auto;
  overflow-y: hidden;
}

.fa-minus {
  padding: 10px;
}

.button-container {
  border: 2px solid rgb(0, 172, 252);
  border-radius: 5px;
  padding: 2px;
}

.delete-all {
  margin-left: 25%;
  margin-bottom: 10px;
}

.confirm {
  padding: 10px 5px;
  background-image: url('img/carta-stropicciata.jpg');
  background-size: contain;
}

.confirm>p {
  font-size: 18px;
}

li {
  display: inline-block;
}

.fa-save,
.fa-shopping-cart,
.fa-cart-arrow-down {
  font-size: 20px;
}