body {
  background-image: url('img/foglio_righe.jpg');
  font-family: 'Permanent Marker', cursive;
}

.header-container {
  width: 365px;
  position: relative;
}

.title {
  background: -webkit-radial-gradient(circle, #ff0000 0%, #3d0000 95%);
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
  position: relative;
}

.helper {
  position: absolute;
  top: 0;
  right: 10px;
  color: red;
  border: 2px solid red;
  border-radius: 50%;
  padding: 0 5px;
}
.helper:hover {
  cursor: pointer;
}
.helper-description {
  position: absolute;
  top: 35%;
  background-image: url('img/paper-helper.jpg');
  width: 100%;
  padding: 10px;
  background-size: contain;
  opacity: 1;
  animation-name: fadeInOpacity;
  animation-iteration-count: 1;
  animation-timing-function: ease-in;
  animation-duration: 0.5s;
  z-index: 100;
}
@keyframes fadeInOpacity {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
.helper-description > span {
  font-size: 12px;
}

.title,
.inputText,
.modify-input,
.category-list-description {
  font-family: 'Oleo Script', cursive;
}

.inputText {
  padding: 10px;
  margin-left: 8%;
}

.category-list-container {
  text-align: center;
}

.category {
  background: rgba(192, 224, 133, 0.84);
  border-radius: 15px;
}

.category-emoji {
  font-size: 25px;
}

.category-list {
  font-family: 'Chango', cursive;
}

.selected {
  background-color: #0169d9;
  color: white;
}

.categoryActive {
  padding-right: 26px !important;
  margin-left: 5px !important;
  margin-top: 10px !important;
  background-color: transparent !important;
  border: none !important;
}
.categoryActive > button {
  margin-left: 23px !important;
}

.custom-show-listbtn {
  background-color: rgba(192, 224, 133, 0.883);
  border: 2px solid rgb(180, 230, 89);
}

.btn-outline-success {
  padding: 10px;
  margin-left: 3%;
  background-color: white;
  border: 2px solid;
}

.btn-info {
  padding: 10px;
}

.btn-outline-info {
  font-weight: bold;
}

.list-copied {
  font-size: 13px;
  margin: 0 25%;
  color: #0169d9;
}

.todo {
  text-transform: uppercase;
  font-size: 20px;
  width: 200px;
  line-height: 1;
  overflow-x: auto;
  overflow-y: hidden;
}
.todo:hover {
  cursor: pointer;
}
.fa-minus {
  padding: 10px;
}

.button-container {
  border: 2px solid rgb(0, 172, 252);
  border-radius: 5px;
  padding: 2px;
}

.delete-all {
  margin-left: 25%;
  margin-bottom: 10px;
}

.delete-all-description {
  background-color: black;
  color: white;
}

.confirm {
  padding: 10px 5px;
  background-image: url('img/carta-stropicciata.jpg');
  background-size: contain;
  border: 2px solid rgb(0, 172, 252);
}

.confirm > p {
  font-size: 18px;
  font-weight: bold;
}

li {
  display: inline-block;
}

.fa-save,
.fa-shopping-cart,
.fa-cart-arrow-down {
  font-size: 20px;
}

.active {
  background: linear-gradient(
    90deg,
    rgba(91, 0, 0, 1) 0%,
    rgba(255, 0, 0, 1) 50%,
    rgba(91, 0, 0, 1) 100%
  );
  color: white;
  border-radius: 5px;
  padding-left: 5px;
}

.created-by-luca-caputo {
  display: flex;
  flex-direction: row-reverse;
  font-size: 9px;
}

@media screen and (min-width: 500px) {
  body {
    background-image: url('img/foglio.jpeg');
    background-repeat: no-repeat;
    background-size: cover;
  }
}

/*sarebbe stato meglio usare scss e tenere tutto più ordinato, lo so!*/
